* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    height: 300px;
    width: 25%;
    object-fit: cover;
    border-radius: 10px;
    padding: 0 5px;
    margin-top: 5px;
}

@media (max-width: 800px) {
    img {
        width: 50%;
    }
}

@media (max-width: 600px) {
    img {
        width: 100%;
    }
}